<p-toolbar styleClass="mb-4 gap-2">
  <ng-template pTemplate="left">
    <button pButton label="Enregistrer" pRipple icon="pi pi-save" pButton (click)="saveProduitFini()"></button>
  </ng-template>
</p-toolbar>

<div class="formgrid grid">
  <div class="p-fluid">
    <div class="p-field">
      <label for="gamme">Gamme</label>
      <p-dropdown [options]="gammes" [(ngModel)]="selectedGamme" optionLabel="libelleGamme" [placeholder]="'Sélectionnez une gamme'"></p-dropdown>
    </div>
  
    <div class="p-field">
      <label for="famillePF">Famille Produit Fini</label>
      <p-dropdown [options]="familleproduitfini" [(ngModel)]="selectedFamillePF" optionLabel="libelle" [placeholder]="'Sélectionnez une famille de produit fini'"></p-dropdown>
    </div>
  </div>
  
  <div class="field col-3">
    <label for="codeP">Code Produit Fini</label>
    <input id="codeP" type="text" [(ngModel)]="PFini.codeP" name="codeP"
           class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
  </div>
  
  <div class="field col-3">
    <label for="Libelle">Libelle</label>
    <input id="Libelle" type="text" [(ngModel)]="PFini.libelle" name="libelle"
           class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
  </div>
</div>
