<!--p>mydata works!</p-->
<p-toast></p-toast>
<p-messages [(value)]="backendmessages" [enableService]="false" [closable]="true"></p-messages>
<p-confirmDialog [style]="{width: '50vw'}" acceptLabel="Confirmer" rejectLabel="Annuler"></p-confirmDialog>
<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <button [disabled]="loading" pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2"
            (click)="openNewTypepanne()"></button>
    </ng-template>

    <ng-template pTemplate="right">
        <button pButton pRipple label="Actualiser" icon="pi pi-refresh" class="p-button-help"
            (click)="RefreshAllTypepanne()"></button>
    </ng-template>
</p-toolbar>
<p-table #dt [value]="listTypepanne" [rowHover]="true" styleClass="p-datatable-sm" [loading]="loading"
    styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped" selectionMode="single">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">
                <div class="flex align-items-center">Id <p-sortIcon field="id">
                    </p-sortIcon>
                    <p-columnFilter type="numeric" field="id" matchMode="equals" display="menu">
                    </p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="codeTypePanne">
                <div class="flex align-items-center">code Typepanne<p-sortIcon field="codeTypePanne"></p-sortIcon>
                    <p-columnFilter type="text" field="codeTypePanne" matchMode="contains" display="menu"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="libelleTypePanne">
                <div class="flex align-items-center">libelle Typepanne <p-sortIcon field="libelleTypePanne"></p-sortIcon>
                    <p-columnFilter type="text" field="libelleTypePanne" matchMode="contains" display="menu"></p-columnFilter>
                </div>
            </th>
            <th style="width: 3rem "></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-typepanne>
        <tr [pSelectableRow]="typepanne">
            <td>{{typepanne.id}}</td>
            <td>{{typepanne.codeTypePanne}}</td>
            <td>{{typepanne.libelleTypePanne}}</td>
            <td  style="width: 3rem; white-space: nowrap;">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning mr-2"
                    (click)="editTypepanne(typepanne)"></button>
                    <button pButton pRipple icon="pi pi-trash"
                    class="p-button-rounded p-button-danger"
                    (click)="deleteTypePanne(typepanne)">
            </button>
            </td>
        </tr>
    </ng-template>

</p-table>

<p-dialog *ngIf="displayTypepanneDialog" header="Typepanne" [(visible)]="displayTypepanneDialog" [modal]="true"
    [style]="{width: '48vw'}" [draggable]="false" [resizable]="false">
    <app-typepanne [typepanne]="Typepanneselected" 
        [saveE]="saveE" (saveEChange)="updatesaveE($event)" [newTypepanne]="newTypepanne"></app-typepanne>
</p-dialog>

<!--p-dialog *ngIf="displayWithdrawalRequestDialog" header="DEMANDE DE RETRAIT" [(visible)]="displayWithdrawalRequestDialog" [modal]="true"  [style]="{width: '30vw'}"
[draggable]="false" [resizable]="false">
    <app-collaboratordatawithdrawalrequest [withdrawalrequest]="withdrawalrequestselected" [saveWR]="saveWR" (saveWRChange)="updatesaveWR($event)" 
    ></app-collaboratordatawithdrawalrequest>
</p-dialog-->